@page "/"

@using MobiDict.Reader

<PageTitle>Home</PageTitle>

<FluentSplitter Orientation="Orientation.Horizontal" BarSize="14" Panel1Size="40%" Panel1MinSize="30%" Panel2MinSize="45%" Style="height: 95%">
    <Panel1>
        <FluentInputFile Id="my-file-uploader"
                         Mode="InputFileMode.Stream"
                         Multiple="true"
                         MaximumFileCount="4"
                         MaximumFileSize="@(100*1024*1024)"
                         Accept=".mobi"
                         OnCompleted="@OnCompletedAsync"
                         Style="height: 300px; margin-right: 1.5em; margin-top: 3em; margin-bottom: 1.5em;">
            <ChildContent>
                <label for="my-file-uploader">
                    <FluentIcon Value="@(new @Icons.Regular.Size24.ArrowUpload())" />
                </label>

                <div>
                    Drag files here you wish to convert,
                    or <label for="my-file-uploader">browse</label>
                    for them<span style="color: red;">*</span>.
                </div>
            </ChildContent>
        </FluentInputFile>
        <FluentCard Height="50%" Width="95%">
            <FluentLabel Typo="Typography.Header">Dictionary Metadata</FluentLabel>
            <FluentSpacer Width="1"/>
            @if (!isDictionaryRead)
            {
                <FluentIcon Value="@(new Icons.Regular.Size24.TextBulletListTree())" Width="120" Color="Microsoft.FluentUI.AspNetCore.Components.Color.Disabled" />
            }
            else
            {
                @foreach(var (key,value) in metadata)
                {
                    <FluentLabel Typo="Typography.Body"><strong>@key:</strong> @value</FluentLabel>
                }
            }
        </FluentCard>
    </Panel1>
    <Panel2>
        <div style="margin: 1em;">
            <FluentToolbar Class="toolbar" id="toolbar-fluent-components">
                <FluentButton OnClick="ExportToTsv" Disabled="!isDictionaryRead" Appearance="Appearance.Accent">Export to TSV</FluentButton>
                <FluentButton OnClick="ExportToStarDict" Disabled="!isDictionaryRead" Appearance="Appearance.Accent">Export to StarDict</FluentButton>
            </FluentToolbar>
            <FluentDataGrid Items="@FilteredItems"
                            ResizableColumns=true
                            Pagination="@pagination"
                            TGridItem="DictionaryEntry"
                            GridTemplateColumns="0.7fr 0.5fr 2.5fr"
                            ShowHover="true"
                            Style="height: 95%"
                            MultiLine="true">
                <PropertyColumn Title="Headword" Property="@(c => c.Header)" Sortable="true" Filtered="!string.IsNullOrWhiteSpace(headwordFilter)">
                    <ColumnOptions>
                        <div class="search-box">
                            <FluentSearch type="search" Autofocus=true @bind-Value=headwordFilter @oninput="HandleHeadwordFilter" @bind-Value:after="HandleClear" Placeholder="Headword..." />
                        </div>
                    </ColumnOptions>
                </PropertyColumn>
                <TemplateColumn Title="Inflections">
                    @string.Join(", ", context.Inflections!)
                </TemplateColumn>
                <TemplateColumn Title="Definition" Sortable="true">
                    @context.Definition!.ToMarkup()
                </TemplateColumn>
            </FluentDataGrid>

            <FluentPaginator State="@pagination">
                <SummaryTemplate>
                        There are <strong>@($"{(pagination.TotalItemCount ?? 0):N0}")</strong> entries
                </SummaryTemplate>
                <PaginationTextTemplate>
                    This is page <strong>@($"{(pagination.CurrentPageIndex + 1):N0}")</strong> out of a total of <strong>@($"{(pagination.LastPageIndex + 1):N0}")</strong> pages
                </PaginationTextTemplate>
            </FluentPaginator>
        </div>
    </Panel2>
</FluentSplitter>

<style>
    .toolbar {
        padding-right: 10px;
        width: 100%;
        position: sticky;
        top: 1px;
        z-index: 992;
        border: 1px dotted var(--accent-fill-rest);
        border-radius: 5px;
        margin-bottom: 8px;
    }
</style>